*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: rgb(254,249,243);
    height: 600px;
}


.client{
    height: 180px;
    width: 100%;
    border-bottom: 1px solid rgb(254,249,243);
    margin-bottom: 100px;
}
.section{
    height: 400px;
    width: 100%;
    margin-bottom: 100px;
}

.section11{
    width: 40%;
    margin: 0;
    padding: 0;
    margin-right: 15%;
}
.section12{
    width: 40%;
    margin: 0;
    padding: 0;
}
create{
    height: 200px;
    width: 100%;
    margin-bottom: 100px;
}

.create1{
    width: 40%;
    margin: 0;
    padding: 0;
    margin-right: 15%;
}
.create2{
    width: 40%;
    margin: 0;
    padding: 0;
}
real{
    height: 200px;
    width: 100%;
    margin-bottom: 100px;
}

.real1{
    width: 40%;
    margin: 0;
    padding: 0;
    margin-right: 15%;
}
.real2{
    width: 40%;
    margin: 0;
    padding: 0;
}
capture{
    height: 200px;
    width: 100%;
    margin-bottom: 100px;
    background-color: rgb(254,249,243);
}

.blue{
    z-index: -1;
    position: absolute;
}
.capture1{
    width: 40%;
    margin: 0;
    padding: 0;
    margin-right: 15%;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
}
.real2{
    width: 40%;
    margin: 0;
    padding: 0;
}